<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/84809417-ac1b-4f86-aac4-58d4884bfbc6/resourceGroups/careadvance-b2c/providers/Microsoft.Web/sites/careadvance-b2cpoc</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://careadvance-b2cpoc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>careadvance-b2cpoc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>careadvance-b2cpoc</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$careadvance-b2cpoc</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>